<html>
<head>
<title>

</title>
</head>
<body>
<form action="/login">
    <label for="user"></label><input type="text" id="user">
    <label for="pass"></label><input type="text" id="pass">
    <button id="login">login</button>
</form>
</body>
</html>