<html>
<head>
    <title></title>
</head>
<body>

<label for="nameCourse"></label><input type="text" id="nameCourse">
<label for="startDateCourse"></label><input type="text" id="startDateCourse">
<label for="endDateCourse"></label><input type="text" id="endDateCourse">
<button id="addCourse">save</button>
</body>
<script src="/javascripts/jqueryCourse.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</html>